<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>铜芯的账本</title>
    <link rel="stylesheet" href="/pages/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/pages/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/pages/css/common.css">
</head>

<body>
    <div id="app">
        <div class="row" v-cloak>
            <div class="col-left col-sm-3">
                <div class="panel-control">
                    <!-- TODO 这个应该封装成组件 -->
                    <a class="book-cover" :style="'background:url(/pages/img/'+getByBookId('cover', currentBookId)+')'" data-toggle="modal" data-target="#booksModal"></a>
                    <div class="inline-block">
                        <h5>{{curBook.name}}</h5>
                        <div class="remainder din-bold">¥{{curBook.reminder}}</div>
                    </div>
                    <form class="form-add-record">
                        <h5>种类
                            <span class="circle-btn fa fa-question" data-original-title=""></span>
                            <span class="circle-btn fa fa-plus" data-toggle="modal" data-target="#typesModal"></span>
                        </h5>
                        <ul class="ul-type">
                            <li class="bolder" v-for="type in types" :style="typeStyle(type.color, type.id)" @click="chooseType(type.id)">
                                {{type.name}}
                            </li>
                        </ul>
                        <h5>金额
                            <span class="circle-btn fa fa-question"></span>
                        </h5>
                        <input v-model="input.amount" type="number" class="form-control" placeholder="">
                        <h5>备注
                            <span class="circle-btn fa fa-question"></span>
                        </h5>
                        <textarea v-model="input.remark" class="form-control" placeholder=""></textarea>

                        <button type="button" class="btn-confirm btn bg-brand" @click="submitRecord()" :class="{disable: noAmount}">
                            <span class="fa fa-check"></span>
                        </button>
                    </form>
                </div>
            </div>

            <!-- 右侧清单 -->
            <div class="col-right col-sm-9">
                <ul class="list-day">
                    <li v-for="record in records">
                        <div class="title-month">
                            <span class="month inline-block din-bold">{{record.year}}/{{record.month}}</span>
                            <span class="in-out inline-block">
                                <div class="color-out">-¥{{record.out}}</div>
                                <div class="color-in">+¥{{record.in}}</div>
                            </span>
                        </div>
                        <ul class="ul-days">
                            <li v-for="dayRecord in record.dayRecords">
                                <span class="date inline-block din-bold">{{dayRecord.day}}</span>
                                <span class="summary inline-block">
                                    <div class="total">¥{{dayRecord.out}}</div>
                                    <div class="remainder">¥{{dayRecord.remainder}}</div>
                                </span>
                                <ul class="day-detail inline-block">
                                    <li v-for="detail in dayRecord.detailRecords" :style="'border-color:'+getByTypeId('color', detail.typeId)" data-toggle="tooltip" data-placement="bottom" key="detail.id" :data-original-title="detail.remark">
                                        <span class="amount" :style="'background:'+getByTypeId('color', detail.typeId)">¥
                                            <span class="din-bold">{{detail.amount}}</span>
                                        </span>
                                        <span class="type" :style="'color:'+getByTypeId('color', detail.typeId)">{{getByTypeId('name', detail.typeId)}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

        <!-- 切换账本 Modal -->
        <div class="modal fade" id="booksModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">切换账本</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="text-center">
                            <li v-for="book in books" class="inline-block"><a class="book-cover" :style="'background:url(/pages/img/'+getByBookId('cover', book.id)+')'" style="margin: 0 5px" @click="changeBook(book.id)" data-dismiss="modal"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 种类操作 Modal -->
        <div class="modal fade" id="typesModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">种类修改</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="types">
                            <li class="inline-block text-center add fa fa-plus"
                                @click="clearTypesInput()">
                            </li><li v-for="type in types"
                                class="inline-block"
                                :style="'background:'+type.color"
                                @click="fillTypesInput(type)">
                                {{type.name}}
                            </li>
                        </ul>
                        <form>
                            <h5>种类名称
                                <span class="circle-btn fa fa-question"></span>
                            </h5>
                            <input v-model="typesInput.name" type="text" class="form-control" placeholder="">
                            <h5>种类颜色
                                <span class="circle-btn fa fa-question"></span>
                            </h5>
                            <input v-model="typesInput.color" type="color" class="form-control" placeholder="">
                            <h5>种类备注
                                <span class="circle-btn fa fa-question"></span>
                            </h5>
                            <textarea v-model="typesInput.remark" class="form-control"></textarea>
                            <div class="form-check">
                                    
                                    <h5>
                                    是否收入
                                    <span class="circle-btn fa fa-question"></span>
                                    <input v-model="typesInput.isIn" type="checkbox" class="form-check-input">
                                </h5>
                            </div>
                            <label class="form-check-label">
                                
                            </label>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                @click="submitTypeInput()" data-dismiss="modal">保存修改</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/pages/assets/jquery.min.js"></script>
<script src="/pages/assets/popper.min.js"></script>
<script src="/pages/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/pages/assets/vue.js"></script>
<script src="/pages/assets/axios.min.js"></script>
<script src="/pages/js/main.js"></script>

</html>