<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>铜芯的账本</title>
    <link rel="stylesheet" href="/pages/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/pages/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/pages/css/common.css">
</head>

<body>
    <div id="app">
        <div class="row">
        <div class="col-left col-sm-3">
            <div class="panel-control">
                <h5>铜芯的账本</h5>
                <div class="remainder din-bold">¥765.32</div>

                <form class="form-add-record">
                    <h5>种类
                        <span class="circle-btn fa fa-question"></span>
                        <span class="circle-btn fa fa-plus"></span>
                    </h5>
                    <ul class="ul-type">
                        <li class="bolder"
                        v-for="type in types"
                        :style="typeStyle(type.color, type.id)"
                        @click="chooseType(type.id)" >
                        {{type.name}}</li>
                        <!-- :class="{active: input.typeId==type.id}" -->
<!--                        <li class="active">吃饭</li>-->
                    </ul>
                    <h5>金额
                        <span class="circle-btn fa fa-question"></span>
                    </h5>
                    <input v-model="input.amount" type="number" class="form-control" placeholder="">
                    <h5>备注
                        <span class="circle-btn fa fa-question"></span>
                    </h5>
                    <textarea v-model="input.remark" class="form-control" placeholder=""></textarea>

                    <button
                        type="button"
                        class="btn-confirm btn bg-brand"
                        @click="submitRecord()"
                        :class="{disable: noAmount}" >
                        <span class="fa fa-check"></span>
                    </button>
                </form>
            </div>
        </div>
        
<!-- 右侧清单 -->
        <div class="col-right col-sm-9">
            <ul class="list-day">
                <li v-for="record in records">
                    <div class="title-month">
                        <span class="month inline-block din-bold">{{record.month}}</span>
                        <span class="in-out inline-block">
                            <div class="color-out">-¥{{record.out}}</div>
                            <div class="color-in">+¥{{record.in}}</div>
                        </span>
                    </div>
                    <ul class="ul-days">
                        <li v-for="dayRecord in record.dayRecords">
                            <span class="date inline-block din-bold">{{dayRecord.date}}</span>
                            <span class="summary inline-block">
                                <div class="total">-¥{{dayRecord.out}}</div>
                                <div class="remainder">¥{{dayRecord.remainder}}</div>
                            </span>
                            <ul class="day-detail inline-block">
                                <li v-for="detail in dayRecord.detailRecords" :style="'border-color:'+detail.color">
                                    <span class="amount" :style="'background:'+detail.color">¥<span class="din-bold">{{detail.amount}}</span></span><span class="type" :style="'color:'+detail.color">{{detail.type}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
    </div>
</body>
<script src="/pages/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/pages/assets/vue.js"></script>
<script src="/pages/assets/axios.min.js"></script>
<script src="/pages/js/main.js"></script>

<script type="text/javascript">
    var qq_chat=true;
    function PlayJsAdPopWin(){
    if(qq_chat){
    popwin=window.location.href="tencent://message/?Menu=yes&uin=1906594424&Service=58&SigT=A7F6FEA02730C98874D79288234EECBC6416FB552738CBD91144113A447228F1699B06F3FA60A1F15BF9A8F78935CD0752D707D2670041BECCCB750D604D6DB9792D4B9D7FAECDC411FF479277ED0E3BD37C44A6CD529D8E21EC9AF94CA9C35F63F04C4AAB6025D9D4F7156A89FF7FD04B54300933CD1B0E&;"}
    };
</script>
</html>
