<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>铜芯的账本</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div id="app">
        <div class="row">
        <div class="col-left col-sm-3">
            <div class="panel-control">
                <h5>铜芯的账本</h5>
                <div class="remainder din-bold">¥765.32</div>

                <form class="form-add-record">
                    <h5>种类
                        <span class="circle-btn fa fa-question"></span>
                        <span class="circle-btn fa fa-plus"></span>
                    </h5>
                    <ul class="ul-type">
                        <li class="bolder" v-for="type in types" :style="'border-color:'+type.color+';color:'+type.color">
                        {{type.name}}</li>
<!--                        <li class="active">吃饭</li>-->
                    </ul>
                    <div class="hidden">
                        <input type="radio" name="type" value="food">
                        <input type="radio" name="type" value="food">
                        <input type="radio" name="type" value="food">
                        <input type="radio" name="type" value="food">
                    </div>
                    <h5>金额
                        <span class="circle-btn fa fa-question"></span>
                    </h5>
                    <input type="number" class="form-control" placeholder="">
                    <h5>备注
                        <span class="circle-btn fa fa-question"></span>
                    </h5>
                    <textarea class="form-control" placeholder=""></textarea>

                    <button type="button" class="btn-confirm btn bg-brand">
                        <span class="fa fa-check"></span>
                    </button>
                </form>
            </div>
        </div>
        
<!-- 右侧清单 -->
        <div class="col-right col-sm-9">
            <ul class="list-day">
                <li v-for="record in records">
                    <div class="title-month">
                        <span class="month inline-block din-bold">{{record.month}}</span>
                        <span class="in-out inline-block">
                            <div class="color-out">-¥{{record.out}}</div>
                            <div class="color-in">+¥{{record.in}}</div>
                        </span>
                    </div>
                    <ul class="ul-days">
                        <li v-for="dayRecord in record.dayRecords">
                            <span class="date inline-block din-bold">{{dayRecord.date}}</span>
                            <span class="summary inline-block">
                                <div class="total">-¥{{dayRecord.out}}</div>
                                <div class="remainder">¥{{dayRecord.remainder}}</div>
                            </span>
                            <ul class="day-detail inline-block">
                                <li v-for="detail in dayRecord.detailRecords" :style="'border-color:'+detail.color">
                                    <span class="amount" :style="'background:'+detail.color">¥<span class="din-bold">{{detail.amount}}</span></span><span class="type" :style="'color:'+detail.color">{{detail.type}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
    </div>
</body>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/vue.js"></script>
<script src="../js/main.js"></script>
</html>
